.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
}


.btn {
  text-align: center;
  border: 1px solid rgba(0,0,0,0.8);
  border-radius: 5px;
  display: block;
  margin: 5px;
}

.header {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.8);
}